.form-valid  {
  opacity:0.5;
  }
.form-control-label abbr {
  text-decoration: none;
  font-weight: normal;
}
label.form-control-label{
  font-size: 20px;
}
body{
  background: rgb(168,169,195);
background: radial-gradient(circle, rgba(168,169,195,1) 0%, rgba(32,179,150,1) 100%);
}
#navbar{
  background-color: #0c3738;
  height: 80px;
  font-family: sans-serif;
  border-bottom: 1px solid #f2f5f5;
  border-top:1px solid #f5f5f5;
  text-align: center;
}
#title{
  font-weight: bolder;
  padding-left: 50px;
 
}
#footer{
  background-color: #0c3738;
  border-top: 1px solid #e5ecec;
  border-bottom: 1px solid #f5f5f5;
}
#back{
  background-color:#0c3738;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 3%;
  border: 1px solid#f3f3f3;
  color: white;
}
#gener{
  /* background-color:white; */
  font-family: sans-serif;
  background-color:#0c3738;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 3%;
  border: 1px solid#f7f7f7;
  color: white;

}
#main{
  
  font-family: sans-serif;
}

#copyurl{
  width: 200px;
  height: 40px;
  border-radius: 5%;
  background-color: #e5ecec;
}